BODY{
    font-family: 'Mulish', sans-serif; 
    background-color:#618685;
}
.hours,.contact {
    text-align: center;
}
.location {
    text-align: center;
    font-style: inherit;
    font-size: medium;
    color: whitesmoke;
}

h1,h2,h3 {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic ;
    color: brown;
}
.name {
    text-align: center;
    
}
.name:hover {
    color:red
}
body:hover{
    background-color: #4040a1;
}
h2:hover,h3:hover {
    color: red;
}