h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 25;
    color: blue;
}

p{
    font-size: 20;
    color: blue;
}
body{
    background-image: url('images/music.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}
.container{

    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.container{
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
    font-size: 25;
    color:red;
}

.item:hover{ 
    color: yellow;
    font-size: 30;

}
.change:hover{
    color: yellow;
    font-size: 25;

}